@font-face {
    font-family: Neucha;
    src: url('../fonts/Neucha-Regular.ttf');
}

:root {
    --white: #fff;
    --white-transparent: #d7ccc0;
    --main: #fe8a02;
    --main-dark: #42413c;
    --light: #f5f4f0;
    --dark: #2a2626;
    --dark-transparent: #908d8b;
    --brown: #b09a81;
    --blue: #1085c5;
    --main-font: 'Open Sans', sans-serif;
    --header-font: 'Neucha', sans-serif;
    --font-size: 16px;
    --line-height: 1.6;
    --font-color: var(--dark);
}

body {
    font-family: var(--main-font);
    font-size: var(--font-size);
    line-height: var(--line-height);
    color: var(--font-color);
}

h1, h2, h3 {
    line-height: 1.2;
    font-family: var(--header-font);
}

h1 {
    padding: 55px 0;
    font-size: 72px;
    float: left;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 34px;
}

section {
    position: relative;
    width: 1110px;
    margin: 0 auto;

}

.main-color {
    color: var(--main);
}

.header {
    position: relative;
    margin-bottom: 0;
    overflow: hidden;
}

.top-header {
    position: relative;
}

.header::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;
}

.header img {
    position: absolute;
    height: 525px;
    top: 55px;
    right: -270px;
    z-index: -1;
}

.description {
    clear: both;
    padding: 50px 0;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.flex-item {
    flex: 1 1 0;
}

a.button {
    display: inline-block;
    padding: 12px 24px;
    font-weight: bold;
    color: var(--white);
    background-color: var(--main);
    text-decoration: none;
}